.controls {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
  grid-auto-flow: row;
}

@media (max-width: 768px) {
  .controls {
    grid-template-columns: 1fr;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.header h1 {
  margin: 0;
}
